.axis path,.axis line{fill: none;stroke: #000;shape-rendering: crispEdges;opacity: 1;}
.axis text{font-size:10px;}
body{font: 12px sans-serif;}
.circles{opacity:0.5;}
.tipsy{font-size:11px;margin-top:-10px;}
.guide line{fill: none;stroke: #000;shape-rendering: crispEdges;opacity: 0;}
.chartOption{margin: 20px; width: 100%;}
#xrows,#yrows{margin-bottom: 10px;}
.check{padding-right: 10px;padding-left: 5px;font-weight: bold;}
.span7 > input {
    width: 65px;
}
.footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: -20px;
    height: 30px;
}    

.border{
	border: 1px dotted #000000;
	border-left: none;
	border-top:none;
	border-bottom:none;
	margin-top:-11px;
}

.radiobtn{
	border: 1px dotted #000000;
	border-left: none;
	border-top:none;
	border-bottom:none;
	padding-left:10px;
}
.centeralign{
	text-align:center !important;
}

.centeralign .tablesorter-header-inner{
    color:#ffffff !important;
}

.floatingdiv{
    position:fixed;
    bottom:1em;
    left:1em;
}

.widget1 {
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -ms-border-radius: 1px;
    -o-border-radius: 1px;
    border-radius: 1px;
    padding: 10px 12px;
    color: #f8f8f8;
    background: rgba(51, 51, 51, 0.9);
    margin-bottom: 30px;
    z-index: 1000;
}
